<h1 style="text-align: center;">Personal</h1>
<div class="" style="height:200px; width:250px; position:absolute;">
    <ul class="list-group">
        <button type="button" (click)="mostrar(1)" class="btn btn-outline-warning btn-lg"
            style="margin-bottom:50px;margin-top:50px;"><i class="fa fa-user-plus fa-lg"></i>
            Agregar</button>
        <button type="button" (click)="mostrar(2)" class="btn btn-outline-success btn-lg"
            style="margin-bottom:50px ;"><i class="fa fa-eye fa-lg"></i>Mostrar</button>
        <button type="button" (click)="mostrar(3)" class="btn btn-outline-primary btn-lg"><i
                class="fa fa-upload fa-lg"></i>Actualizar</button>
    </ul>
</div>
<div style="position:relative; width:100%;left:300px;margin-top:20px;">
    <div class="card " style="width: 65%;" *ngIf="estadoIngresar">
        <h5 class="card-header">Nuevo Personal</h5>
        <div class="card-body">
            <h5 class="card-title">Post</h5>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control ingresar Texto" id="nombre"
                        [(ngModel)]="datosF.nombrePersonal">
                </div>
                <div class="col-md-6">
                    <label for="apepat" class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control ingresar Texto" id="apepat"
                        [(ngModel)]="datosF.apepatPersonal">
                    <label for="apemat" class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control ingresar Texto" id="apemat"
                        [(ngModel)]="datosF.apematPersonal">
                </div>
                <div class="col-12">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control ingresar Texto" id="direccion"
                        [(ngModel)]=" datosF.direccionPersonal">

                </div>
                <div class="col-md-6">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" [(ngModel)]="datosF.telefonoPersonal">
                </div>
                <div class="col-md-4">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control ingresar Numero" id="edad"
                        [(ngModel)]="datosF.edadPersonal">
                </div>
                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="registroUser()"><i
                            class="fa fa-check-circle-o fa-lg"></i>Registrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card" style="width: 80vw;" *ngIf="estadoMostrar">
        <h5 class="card-header">Mostrar Personal</h5>
        <div class="card-body">
            <h5 class="card-title">Get</h5>
            <div class="col-12">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item._id}}</td>
                        <td>{{item.nombrePersonal}}</td>
                        <td>{{item.apepatPersonal}}</td>
                        <td>{{item.apematPersonal}}</td>
                        <td>{{item.edadPersonal}}</td>
                        <td>{{item.telefonoPersonal}}</td>
                        <td>{{item.direccionPersonal}}</td>
                        <td><button class="btn btn-outline-danger btn-lg" (click)="eliminarPorBusqueda(item._id);"><i
                                    class="fa fa-trash fa-lg"></i>Eliminar</button></td>
                    </tr>

                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" (click)="consultarUser()"><i
                    class="fa fa-check-circle-o fa-lg"></i>Buscar</button>
        </div>
    </div>

    <div class="card" style="width: 65%;" *ngIf="estadoActualizar">
        <h5 class="card-header">Actualizar Personal</h5>
        <div class="card-body">
            <h5 class="card-title">Put</h5>
            <label for="ID" class="form-label">ID</label>
            <input type="text" class="form-control" id="ID2" [(ngModel)]="idUsuario">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control actualizar Texto" id="nombre2"
                        [(ngModel)]="datosF.nombrePersonal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-md-6">
                    <label for="apepat" class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control actualizar Texto" id="apepat"
                        [(ngModel)]="datosF.apepatPersonal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                    <label for="apemat" class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control actualizar Texto" id="apemat"
                        [(ngModel)]="datosF.apematPersonal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-12">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control actualizar Texto" id="direccion"
                        [(ngModel)]=" datosF.direccionPersonal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-md-6">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control " id="telefono" [(ngModel)]="datosF.telefonoPersonal">
                </div>
                <div class="col-md-4">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control actualizar Numero" id="edad2"
                        [(ngModel)]="datosF.edadPersonal">
                </div>
                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="actualizarUser()">
                        <i class="fa fa-check-circle-o fa-lg"></i>Actualizar</button>
                </div>
            </div>

        </div>
    </div>
</div>