<div class="main d-flex justify-content-center">
    <div class="card" style="width: 95vw;">
        <h5 class="card-header">Mostrar Producto</h5>
        <div class="card-body">
            <h5 class="card-title">Get</h5>
            <div class="col-12">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre Producto</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Presentacion</th>
                        <th scope="col">Contenido</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Status</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item._id}}</td>
                        <td>{{item.nombreProducto}}</td>
                        <td>{{item.marcaProducto}}</td>
                        <td>{{item.presntacionProducto}}</td>
                        <td>{{item.contenidoProducto}}</td>
                        <td>{{item.costoProducto}}</td>
                        <td>{{item.proveedorProducto}}</td>
                        <td>{{item.cantidadProducto}}</td>
                        <td>{{item.statusProducto}}</td>
                        <td>{{item.descripcionProducto}}</td>
                        <td>
                            <div class="buttons d-flex flex-column">
                                <button type="button" class="btn btn-outline-info btn-lg"
                                    (click)="actualizar_form(item._id)">Actualizar</button>
                                <button class="btn btn-outline-danger btn-lg"
                                    (click)="eliminarPorBusqueda(item._id);">Eliminar</button>
                            </div>
                        </td>
                    </tr>

                    <tr *ngIf="insertarPersonal">
                        <td>
                        </td>
                        <td>
                            <input type="text" class="form-control ingresar " id="nombreProducto"
                                [(ngModel)]="datosF.nombreProducto">
                        </td>
                        <td>
                            <input type="text" class="form-control ingresar Texto" id="marcaProducto"
                                [(ngModel)]="datosF.marcaProducto">
                        </td>
                        <td>
                            <input type="text" class="form-control ingresar" id="presntacionProducto"
                                [(ngModel)]="datosF.presntacionProducto">
                        </td>
                        <td>
                            <input type="number" class="form-control ingresar Numero" id="contenidoProducto"
                                [(ngModel)]="datosF.contenidoProducto">
                        </td>
                        <td>
                            <input type="number" class="form-control ingresar Numero" id="costoProducto"
                                [(ngModel)]="datosF.costoProducto">
                        </td>
                        <td>
                            <input type="text" class="form-control ingresar Texto" id="proveedorProducto"
                                [(ngModel)]="datosF.proveedorProducto">
                        </td>
                        <td>
                            <input type="number" class="form-control ingresar Numero" id="cantidadProducto"
                                [(ngModel)]="datosF.cantidadProducto">
                        </td>
                        <td>
                            <input type="text" class="form-control ingresar Texto" id="statusProducto"
                                [(ngModel)]="datosF.statusProducto">
                        </td>
                        <td>
                            <input type="text" class="form-control ingresar Texto" id="descripcionProducto"
                                [(ngModel)]=" datosF.descripcionProducto">
                        </td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <button type="button" class="btn btn-success" (click)="registroUser()">
                                    <i class="fa fa-check-circle-o fa-lg"></i>
                                </button>
                                <button type="button" class="btn btn-danger" (click)="btninsertar()">
                                    <i class="fa fa-ban fa-lg"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <button *ngIf="mostrar" class="btn btn-outline-success" (click)="btninsertar()">Agregar
                            producto</button>
                    </tr>


                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" (click)="consultarUser()"><i
                    class="fa fa-check-circle-o fa-lg"></i>Buscar</button>
        </div>
    </div>

    <div class="model-dialo modal-lg formcontainerupdate" *ngIf="actualizar">
        <div class="modal-content">
            <div class="modal-header  d-flex justify-content-end">
                <button type="button" class="btn-close " (click)="btnactualizar()"></button>
            </div>
            <div class="modal-body">

                <app-formularios></app-formularios>
            </div>
        </div>
    </div>