.form-control {
    font-size: 12px;
}

.formcontainerupdate {
    z-index: 100;
    position: absolute;
    display: inline-block;
    width: 70vw;
    border: 1px solid black;
    margin-top: 10px;
}

app-formularios {
    border-radius: 25px;
}