.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.part1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    transition: transform 0.3s ease;
}

.part1>.card:hover {
    transform: scale(1.1);
}


.part2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.part2>.card:hover {
    border: 1px solid blue;
    transform: scale(1.1);
}