<div class="container">
    <div class="part1">
        <div class="card" style="width: 18rem;">
            <img src="https://emprendepyme.net/wp-content/uploads/2023/03/cualidades-producto-1200x900.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Producto</h5>
                <a routerLink="/producto" class="btn btn-primary">Ir a Productos</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://mandomedio.com/wp-content/uploads/2021/12/pasosseleccionpersonal.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Personal</h5>
                <a routerLink="/personal" class="btn btn-primary">Ir a Personal</a>

            </div>
        </div>
    </div>
    <div class="part2">
        <div class="card" style="width: 18rem;">
            <img src="https://i0.wp.com/accounter.co/cdn/2019/05/post-sucursales.jpg?fit=768%2C480&ssl=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sucursal</h5>
                <a routerLink="/sucursal" class="btn btn-primary">Ir a Sucursal</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.techedgegroup.com/hubfs/proveed.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Proveedor</h5>
                <a routerLink="/proveedor" class="btn btn-primary">Ir a Proveedor</a>
            </div>
        </div>
    </div>

</div>