<h1 style="text-align: center;">Productos</h1>
<div class="" style="height:200px; width:250px; position:absolute;">
    <ul class="list-group">
        <button type="button" (click)="mostrar(1)" class="btn btn-outline-warning btn-lg"
            style="margin-bottom:50px;margin-top:50px;"><i class="fa fa-user-plus fa-lg"></i>
            Agregar</button>
        <button type="button" (click)="mostrar(2)" class="btn btn-outline-success btn-lg"
            style="margin-bottom:50px ;"><i class="fa fa-eye fa-lg"></i>Mostrar</button>
        <button type="button" (click)="mostrar(3)" class="btn btn-outline-primary btn-lg"><i
                class="fa fa-upload fa-lg"></i>Actualizar</button>
    </ul>
</div>
<div style="position:relative; width:100%;left:300px;margin-top:20px;">
    <div class="card " style="width: 65%;" *ngIf="estadoIngresar">
        <h5 class="card-header">Nuevo Producto</h5>
        <div class="card-body">
            <h5 class="card-title">Post</h5>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="nombreProducto" class="form-label">Nombre del producto</label>
                    <input type="text" class="form-control ingresar Texto" id="nombreProducto"
                        [(ngModel)]="datosF.nombreProducto">
                </div>
                <div class="col-md-6">
                    <label for="marcaProducto" class="form-label">Marca</label>
                    <input type="text" class="form-control ingresar Texto" id="marcaProducto"
                        [(ngModel)]="datosF.marcaProducto">
                </div>
                <div class="col-12">
                    <label for="descripcionProducto" class="form-label">Descripcion</label>
                    <input type="text" class="form-control ingresar Texto" id="descripcionProducto"
                        [(ngModel)]=" datosF.descripcionProducto">

                </div>
                <div class="col-md-6">
                    <label for="presntacionProducto" class="form-label">Presentacion</label>
                    <input type="text" class="form-control" id="presntacionProducto"
                        [(ngModel)]="datosF.presntacionProducto">
                </div>
                <div class="col-md-4">
                    <label for="contenidoProducto" class="form-label">Contenido</label>
                    <input type="number" class="form-control ingresar Numero" id="contenidoProducto"
                        [(ngModel)]="datosF.contenidoProducto">
                </div>
                <div class="col-md-6">
                    <label for="cantidadProducto" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="cantidadProducto"
                        [(ngModel)]="datosF.cantidadProducto">
                </div>
                <div class="col-md-4">
                    <label for="statusProducto" class="form-label">Status</label>
                    <input type="text" class="form-control ingresar Numero" id="statusProducto"
                        [(ngModel)]="datosF.statusProducto">
                </div>
                <div class="col-md-6">
                    <label for="proveedorProducto" class="form-label">Proveedor</label>
                    <input type="text" class="form-control" id="proveedorProducto"
                        [(ngModel)]="datosF.proveedorProducto">
                </div>
                <div class="col-md-4">
                    <label for="costoProducto" class="form-label">Costo</label>
                    <input type="number" class="form-control ingresar Numero" id="costoProducto"
                        [(ngModel)]="datosF.costoProducto">
                </div>
                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="registroUser()"><i
                            class="fa fa-check-circle-o fa-lg"></i>Registrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card" style="width: 80vw;" *ngIf="estadoMostrar">
        <h5 class="card-header">Mostrar Producto</h5>
        <div class="card-body">
            <h5 class="card-title">Get</h5>
            <div class="col-12">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre Producto</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Presentacion</th>
                        <th scope="col">Contenido</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Status</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item._id}}</td>
                        <td>{{item.nombreProducto}}</td>
                        <td>{{item.marcaProducto}}</td>
                        <td>{{item.presntacionProducto}}</td>
                        <td>{{item.contenidoProducto}}</td>
                        <td>{{item.costoProducto}}</td>
                        <td>{{item.proveedorProducto}}</td>
                        <td>{{item.cantidadProducto}}</td>
                        <td>{{item.statusProducto}}</td>
                        <td>{{item.descripcionProducto}}</td>
                        <td><button class="btn btn-outline-danger btn-lg" (click)="eliminarPorBusqueda(item._id);"><i
                                    class="fa fa-trash fa-lg"></i>Eliminar</button></td>
                    </tr>

                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" (click)="consultarUser()"><i
                    class="fa fa-check-circle-o fa-lg"></i>Buscar</button>
        </div>
    </div>

    <div class="card" style="width: 65%;" *ngIf="estadoActualizar">
        <h5 class="card-header">Actualizar Producto</h5>
        <div class="card-body">
            <h5 class="card-title">Put</h5>
            <label for="ID" class="form-label">ID</label>
            <input type="text" class="form-control" id="ID2" [(ngModel)]="idUsuario">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="nombreProducto" class="form-label">Nombre Producto</label>
                    <input type="text" class="form-control actualizar Texto" id="nombreProducto"
                        [(ngModel)]="datosF.nombreProducto" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-md-6">
                    <label for="marcaProducto" class="form-label">Marca</label>
                    <input type="text" class="form-control actualizar Texto" id="marcaProducto"
                        [(ngModel)]="datosF.marcaProducto" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-12">
                    <label for="descripcionProducto" class="form-label">Descripcion</label>
                    <input type="text" class="form-control actualizar Texto" id="descripcionProducto"
                        [(ngModel)]=" datosF.descripcionProducto" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-md-6">
                    <label for="presntacionProducto" class="form-label">Presentacion</label>
                    <input type="text" class="form-control " id="presntacionProducto"
                        [(ngModel)]="datosF.presntacionProducto">
                </div>
                <div class="col-md-4">
                    <label for="contenidoProducto" class="form-label">Contenido</label>
                    <input type="text" class="form-control actualizar Numero" id="contenidoProducto"
                        [(ngModel)]="datosF.contenidoProducto">
                </div>
                <div class="col-md-6">
                    <label for="cantidadProducto" class="form-label">Cantidad</label>
                    <input type="number" class="form-control " id="cantidadProducto"
                        [(ngModel)]="datosF.cantidadProducto">
                </div>
                <div class="col-md-4">
                    <label for="statusProducto" class="form-label">Status</label>
                    <input type="text" class="form-control actualizar Numero" id="statusProducto"
                        [(ngModel)]="datosF.statusProducto">
                </div>
                <div class="col-md-6">
                    <label for="proveedorProducto" class="form-label">Proveedor</label>
                    <input type="text" class="form-control " id="proveedorProducto"
                        [(ngModel)]="datosF.proveedorProducto">
                </div>
                <div class="col-md-4">
                    <label for="costoProducto" class="form-label">Costo</label>
                    <input type="number" class="form-control actualizar Numero" id="costoProducto"
                        [(ngModel)]="datosF.costoProducto">
                </div>

                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="actualizarUser()">
                        <i class="fa fa-check-circle-o fa-lg"></i>Actualizar</button>
                </div>
            </div>

        </div>
    </div>
</div>