<div class="producto">
    <div class="card" style="width: 90%;">
        <h5 class="card-header">Actualizar Producto</h5>
        <div class="card-body">
            <h5 class="card-title">Put</h5>
            <label for="ID" class="form-label">ID</label>
            <input type="text" class="form-control" id="ID2" value="{{idrecibir}}" readonly>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="nombreProducto" class="form-label">Nombre Producto</label>
                    <input type="text" class="form-control ingresar Texto" id="nombreProducto"
                        pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros" [(ngModel)]="data[1]">
                </div>
                <div class="col-md-6">
                    <label for="marcaProducto" class="form-label">Marca</label>
                    <input type="text" class="form-control ingresar Texto" id="marcaProducto"
                        pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros" [(ngModel)]="data[2]">
                </div>
                <div class="col-12">
                    <label for="descripcionProducto" class="form-label">Descripcion</label>
                    <input type="text" class="form-control ingresar Texto" id="descripcionProducto"
                        pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros" [(ngModel)]="data[9]">
                </div>
                <div class="col-md-6">
                    <label for="presntacionProducto" class="form-label">Presentacion</label>
                    <input type="text" class="form-control ingresar " id="presntacionProducto" [(ngModel)]="data[3]">
                </div>
                <div class="col-md-4">
                    <label for="contenidoProducto" class="form-label">Contenido</label>
                    <input type="number" class="form-control ingresar Numero" id="contenidoProducto"
                        [(ngModel)]="data[4]">
                </div>
                <div class="col-md-6">
                    <label for="cantidadProducto" class="form-label">Cantidad</label>
                    <input type="number" class="form-control ingresar Numero" id="cantidadProducto"
                        [(ngModel)]="data[5]">
                </div>
                <div class="col-md-4">
                    <label for="statusProducto" class="form-label">Status</label>
                    <input type="text" class="form-control ingresar Texto" id="statusProducto" [(ngModel)]="data[8]">
                </div>
                <div class="col-md-6">
                    <label for="proveedorProducto" class="form-label">Proveedor</label>
                    <input type="text" class="form-control ingresar Texto" id="proveedorProducto" [(ngModel)]="data[6]">
                </div>
                <div class="col-md-4">
                    <label for="costoProducto" class="form-label">Costo</label>
                    <input type="number" class="form-control ingresar Numero" id="costoProducto" [(ngModel)]="data[7]">
                </div>

                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="actualizarUser()">
                        <i class="fa fa-check-circle-o fa-lg"></i>Actualizar</button>
                </div>
            </div>

        </div>
    </div>
</div>