<h1 style="text-align: center;">Sucursal</h1>
<div class="" style="height:200px; width:250px; position:absolute;">
    <ul class="list-group">
        <button type="button" (click)="mostrar(1)" class="btn btn-outline-warning btn-lg"
            style="margin-bottom:50px;margin-top:50px;"><i class="fa fa-user-plus fa-lg"></i>
            Agregar</button>
        <button type="button" (click)="mostrar(2)" class="btn btn-outline-success btn-lg"
            style="margin-bottom:50px ;"><i class="fa fa-eye fa-lg"></i>Mostrar</button>
        <button type="button" (click)="mostrar(3)" class="btn btn-outline-primary btn-lg"><i
                class="fa fa-upload fa-lg"></i>Actualizar</button>
    </ul>
</div>
<div style="position:relative; width:100%;left:300px;margin-top:20px;">
    <div class="card " style="width: 65%;" *ngIf="estadoIngresar">
        <h5 class="card-header">Nueva Sucursal</h5>
        <div class="card-body">
            <h5 class="card-title">Post</h5>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="noSucursal" class="form-label">Numero Sucursal</label>
                    <input type="text" class="form-control ingresar Texto" id="noSucursal"
                        [(ngModel)]="datosF.noSucursal">
                </div>
                <div class="col-md-6">
                    <label for="encargadoSucursal" class="form-label">Encargado</label>
                    <input type="text" class="form-control ingresar Texto" id="encargadoSucursal"
                        [(ngModel)]="datosF.encargadoSucursal">
                </div>
                <div class="col-12">
                    <label for="direccionSucursal" class="form-label">Direccion</label>
                    <input type="text" class="form-control ingresar Texto" id="direccionSucursal"
                        [(ngModel)]=" datosF.direccionSucursal">

                </div>
                <div class="col-md-6">
                    <label for="telefonoSucursal" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefonoSucursal" [(ngModel)]="datosF.telefonoSucursal">
                </div>
                <div class="col-md-4">
                    <label for="noEmpleadosSucursal" class="form-label">No Empleados</label>
                    <input type="number" class="form-control ingresar Numero" id="enoEmpleadosSucursaldad"
                        [(ngModel)]="datosF.noEmpleadosSucursal">
                </div>
                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="registroUser()"><i
                            class="fa fa-check-circle-o fa-lg"></i>Registrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card" style="width: 80vw;" *ngIf="estadoMostrar">
        <h5 class="card-header">Mostrar Sucursal</h5>
        <div class="card-body">
            <h5 class="card-title">Get</h5>
            <div class="col-12">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">No Sucursal</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Encargado</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">No Empleado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item._id}}</td>
                        <td>{{item.noSucursal}}</td>
                        <td>{{item.direccionSucursal}}</td>
                        <td>{{item.encargadoSucursal}}</td>
                        <td>{{item.telefonoSucursal}}</td>
                        <td>{{item.noEmpleadosSucursal}}</td>
                        <td><button class="btn btn-outline-danger btn-lg" (click)="eliminarPorBusqueda(item._id);"><i
                                    class="fa fa-trash fa-lg"></i>Eliminar</button></td>
                    </tr>

                </tbody>
            </table>
            <button type="submit" class="btn btn-primary" (click)="consultarUser()"><i
                    class="fa fa-check-circle-o fa-lg"></i>Buscar</button>
        </div>
    </div>

    <div class="card" style="width: 65%;" *ngIf="estadoActualizar">
        <h5 class="card-header">Actualizar Sucursal</h5>
        <div class="card-body">
            <h5 class="card-title">Put</h5>
            <label for="ID" class="form-label">ID</label>
            <input type="text" class="form-control" id="ID2" [(ngModel)]="idUsuario">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="noSucursal" class="form-label">No Sucursal</label>
                    <input type="text" class="form-control actualizar Texto" id="noSucursal"
                        [(ngModel)]="datosF.noSucursal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-md-6">
                    <label for="encargadoSucursal" class="form-label">Encargado</label>
                    <input type="text" class="form-control actualizar Texto" id="encargadoSucursal"
                        [(ngModel)]="datosF.encargadoSucursal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-12">
                    <label for="direccionSucursal" class="form-label">Direccion</label>
                    <input type="text" class="form-control actualizar Texto" id="direccionSucursal"
                        [(ngModel)]=" datosF.direccionSucursal" pattern="[a-zA-Z ñáéíóú]{3,254}"
                        title="Verifica que el campo no este vacio o no contenga numeros">
                </div>
                <div class="col-md-6">
                    <label for="telefonoSucursal" class="form-label">Telefono</label>
                    <input type="text" class="form-control " id="telefonoSucursal"
                        [(ngModel)]="datosF.telefonoSucursal">
                </div>
                <div class="col-md-4">
                    <label for="noEmpleadosSucursal" class="form-label">No Empleados</label>
                    <input type="number" class="form-control actualizar Numero" id="noEmpleadosSucursal"
                        [(ngModel)]="datosF.noEmpleadosSucursal">
                </div>
                <div class="col-12">
                    <button type="submit" id="action" class="btn btn-primary" (click)="actualizarUser()">
                        <i class="fa fa-check-circle-o fa-lg"></i>Actualizar</button>
                </div>
            </div>

        </div>
    </div>
</div>